
body{
    background: linear-gradient(
      to right,
      #363636 0%,
      #363636 50%,
      #242F40 50%,
      #242F40 100%
    );
}

.navbar-bg {
    background-color: #A1A1A1 !important;
}
  
.text-align-end {
    text-align: end;
}

.text-align-start {
    text-align: start;
}

.text-align-center {
    text-align: center;
}

.title-margin {
    margin-top: 2rem;
}

.heading-margin {
    margin-top: 5rem;
}

.title-text {
    color: #CCA43B;
    font-size: 5rem;
}

.heading-text {
    color: #CCA43B;
    font-size: 3rem;
}

.display-flex {
    display: flex;
}

.center-display {
    justify-content: center;
}

.end-display {
    justify-content: end;
}

.start-display {
    justify-content: start;
}

#profile-pic {
    width: 25%;
    height: 23vh;
}

#introductions {
    width: 80%;
    height: 23vh;
}

.bg-button-1 {
    background-color: #242F40;
}

.bg-button-2 {
    background-color: #363636;
}

.hover-1 {
    background-color: #242F40;
}

.hover-1:hover {
    background-color: #2c3a4f;
}

.hover-2 {
    background-color: #363636;
}

.hover-2:hover {
    background-color: #3f3f3f;
}

.intro-text-bg {
    background-color: rgb(115, 114, 114, 0.2) !important;
}

.accordion-text-color {
    color: #CCA43B;
}

.accordion-text-size {
    font-size: 1.5rem;
}

.accorion-bg {
    background-color: rgb(115, 114, 114, 0.3) !important;
}

.interest-pic {
    width: 100%;
}

.carousel-height-max {
    height: 30rem;
    opacity: 60%;
}

.caption-text-size {
    font-size: 2rem;
}

.caption-text-bg {
    background-color: rgb(0, 0, 0, 0.7);
}

.caption-up {
    margin-bottom: 8rem;
}

.footer {
    font-size: 0.8rem;
    position: fixed;
    left: 2rem;
    bottom: 0;
    width: 100%;
    color: white;
}